
body {
    background-color: #F490B9
}

.homeTitle {
    font-size: 7rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: white;
    text-align: left;
    text-align: center;
    padding-top: 5rem;
    text-shadow: 
    -1px 1px 0 black, 
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black,
    -5px 5px 0 black;
 }

 .contactCards {
    padding: 100px 50px 150px 50px;
 }

 .welcomeText {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.3em;
    margin: 5rem 0 10rem 0;
 }

 .contactText {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.3em;
    margin: 10rem 0;
    padding: 5rem 0;
    border: 5px solid hotpink;
    background-color: rgba(255, 105, 180, 0.5);
 }

 h3 {
    font-weight: 700;
    font-size: 3em;
    color: white;
    text-decoration: rgb(247, 83, 165) underline;
 }

 .socialIcons {
    color: white;
 }

 .testingBackground {
   background-image: url('../assets/flowerBackground.png');
   background-size: cover;
   background-position: center;
 }