body {
    background-color: #F490B9
}

.homeTitle {
    font-size: 7rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: white;
    text-align: left;
    text-align: center;
    padding-top: 5rem;
    text-shadow: 
    -1px 1px 0 black, 
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black,
    -5px 5px 0 black;
 }

 .contactCards {
    padding: 100px 50px 150px 50px;
 }
